<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="fz20 mb30">Danh Sách Người Dùng</h4>
      </div>
      <div class="col-lg-12">
        <div class="candidate_job_reivew style2">
          <div class="table-responsive job_review_table mt0">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Số Điện Thoại</th>
                  <th scope="col">Quyền</th>
                  <th scope="col">Trạng Thái</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="user in listUser" :key="user.id">
                  <th scope="row">{{ user.id }}</th>
                  <td>
                    {{ user.username }}
                    <span
                      class="text-danger"
                      v-if="user.username == infoUser.account"
                      >(You)</span
                    >
                  </td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phoneNumber }}</td>
                  <td>
                    <select
                      class="custom-select"
                      v-if="user.username != infoUser.account"
                      @change="changeRole"
                      :id="user.id"
                    >
                      <option
                        v-for="role in listRole"
                        :key="role.code"
                        :selected="role.code == user.roles[0].code ? 'selected' : ''"
                        :value="role.code"
                      >
                        {{ role.name }}
                      </option>
                    </select>
                    <div v-else>{{ user.roles[0].name }}</div>
                  </td>
                  <td>
                    <select
                      class="custom-select"
                      v-if="user.username != infoUser.account"
                      @change="changeStatus"
                      :id="user.id"
                    >
                      <option value="0" :selected="user.status == 0">
                        Hoạt Động
                      </option>
                      <option value="1" :selected="user.status == 1">
                        Hủy
                      </option>
                    </select>
                    <div v-else>
                      {{ user.status == 1 ? "Hoạt Động" : "Huỷ" }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import admin from "@/services/admin";
export default {
  layout: "dashboard",
  data() {
    return {
      listUser: [],
      infoUser: [],
      listRole: [],
    };
  },
  middleware: "roleAdmin",
  mounted() {
    this.infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(this.infoUser.token, "Bearer");
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const roles = await admin.getListRole(this.$axios);
        this.listUser = await admin.getListUser(this.$axios);
        this.listRole = roles.data;
      } catch (e) {}
    },
    async changeRole(e) {
      console.log(e.target.value, e.target.id);
      const data = {
        idUser: e.target.id,
        codeRole: e.target.value,
      };
      try {
        const response = await admin.changeRole(data, this.$axios);
        if (response.code === "SUCCESS") {
          this.$notify({
            group: "all",
            type: "success",
            title: "Thành Công",
            text: data.message,
          });
        }
      } catch (e) {
        this.$notify({
          group: "all",
          type: "error",
          title: "Lỗi!",
          text: "Có lỗi xảy ra!",
        });
      }
    },
    async changeStatus(e) {
      console.log(e.target.value, e.target.id);
      const data = {
        idUser: e.target.id,
        codeRole: e.target.value,
      };
      try {
        const response = await admin.changeStatus(data, this.$axios);
        if (response.code === "SUCCESS") {
          this.$notify({
            group: "all",
            type: "success",
            title: "Thành Công",
            text: data.message,
          });
        }
      } catch (e) {
        this.$notify({
          group: "all",
          type: "error",
          title: "Lỗi!",
          text: "Có lỗi xảy ra!",
        });
      }
    },
  },
};
</script>

<style>
</style>