<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="my_profile_form_area">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="fz20 mb20">Thêm Danh Mục</h4>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Tên Danh Mục</label>
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="UX/UI Desginer"
              v-validate="'required|min:3'"
              v-model="categoryForm.name"
            />
            <p class="text-danger h5">{{ errors.first("name") }}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my_profile_input">
            <button class="btn btn-lg btn-thm" @click="postCategory">
              Thêm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import post from "@/services/post.js";
export default {
  layout: "dashboard",
  data() {
    return {
      categoryForm: {
        name: "",
      },
    };
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
  },
  methods: {
    async postCategory() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const response = await post.createCategory(
            this.categoryForm,
            this.$axios
          );
          if (response.code === "SUCCESS") {
            this.$notify({
              group: "all",
              type: "success",
              title: "Thành Công",
              text: response.message,
            });
            setTimeout(() => {
              window.location.href = "/dashboard/category";
            }, 2000);
            return;
          }
          this.$swal("Lỗi!", response.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            title: "Lỗi!",
            text: "Thêm Danh Mục Bị Lỗi",
          });
        }
      }
    },
  },
};
</script>

<style>
</style>