<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="my_profile_form_area">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="fz20 mb20">Thêm Menu</h4>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Tên Menu</label>
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="UX/UI Desginer"
              v-validate="'required|min:3'"
              v-model="menuForm.name"
            />
            <p class="text-danger h5">{{ errors.first("name") }}</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea">
            <div class="form-group">
              <label>Mô Tả</label>
              <textarea
                class="form-control"
                name="description"
                rows="3"
                v-model="menuForm.description"
                v-validate="'required'"
              ></textarea>
              <p class="text-danger h5">{{ errors.first("description") }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Đường Dẫn</label>
            <input
              type="text"
              class="form-control"
              name="path"
              placeholder="/demo"
              v-validate="'required|min:2'"
              v-model="menuForm.url"
            />
            <p class="text-danger h5">{{ errors.first("path") }}</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Cấp:</label>
            <select
              class="custom-select"
              name="level"
              v-model="menuForm.level"
              v-validate="'required'"
            >
              <option value="0">Cha</option>
              <option value="1">Con</option>
            </select>
            <p class="text-danger h5">{{ errors.first("level") }}</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Menu Cha:</label>
            <select class="custom-select" v-model="menuForm.parentId">
              <option
                :value="parent.id"
                v-for="parent in listParent"
                :key="parent.id"
              >
                {{ parent.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Role:</label>
            <div class="ui_kit_whitchbox">
              <div
                class="custom-control custom-switch"
                v-for="role in listRole"
                :key="role.id + 100"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  v-model="menuForm.roleCode"
                  :value="role.code"
                  :id="role.code"
                />
                <label class="custom-control-label" :for="role.code">{{
                  role.name
                }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my_profile_input">
            <button class="btn btn-lg btn-thm" @click="postMenu">
              Thêm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import admin from "@/services/admin.js";
export default {
  layout: "dashboard",
  data() {
    return {
      menuForm: {
        roleCode: [],
      },
      listParent: [],
      listRole: [],
    };
  },
  middleware: "roleAdmin",
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
    this.getData();
  },
  methods: {
    async getData() {
      const roles = await admin.getListRole(this.$axios);
      this.listRole = roles.data;
      const response = await admin.getMenu({}, this.$axios);
      this.listParent = response.data.data;
    },
    async postMenu() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          this.menuForm.listRole = this.menuForm.roleCode.join(",");
          const response = await admin.postMenu(this.menuForm, this.$axios);
          if (response.code === "SUCCESS") {
            this.$notify({
              group: "all",
              type: "success",
              title: "Thành Công!",
              text: response.message,
            });
            setTimeout(() => {
              window.location.href = "/admin/menu";
            }, 1500);
            return;
          }
          this.$swal("Create!", response.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            title: "Lỗi!",
            text: "Tạo Menu Bị Lỗi!",
          });
        }
      }
    },
  },
};
</script>

<style>
</style>