<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mb30 float-left">Danh Sách Menu</h4>
        <a href="/admin/menu/add" class="btn btn-lg btn-thm float-right"
          >Thêm Menu</a
        >
      </div>
      <div class="col-lg-12">
        <div class="cnddte_fvrt_job candidate_job_reivew style2">
          <div class="table-responsive job_review_table">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Tên</th>
                  <th scope="col">Menu Cha</th>
                  <th scope="col">Quyền</th>
                  <th scope="col">Hành Động</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="menu in listMenu" :key="menu.id">
                  <th scope="row">
                    <h4>{{ menu.name }}</h4>
                  </th>
                  <th scope="row">
                    <p>{{ menu.parentName }}</p>
                  </th>
                  <th scope="row">
                    <p>{{ menu.listRoleName }}</p>
                  </th>
                  <td>
                    <ul class="view_edit_delete_list">
                      <li class="list-inline-item">
                        <a
                          :href="`/admin/menu/${menu.id}`"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Sửa"
                          ><span class="flaticon-edit"></span
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <span
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Xóa"
                          @click="deleteMenu(menu.id)"
                          ><span class="flaticon-rubbish-bin"></span
                        ></span>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import admin from "@/services/admin.js";
export default {
  layout: "dashboard",
  data() {
    return {
      listMenu: [],
      listRole: [],
    };
  },
  middleware: "roleAdmin",
  mounted() {
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const response = await admin.getMenu({}, this.$axios);
        this.listMenu = response.data.data;
      } catch (e) {}
    },
    async deleteMenu(id) {
      this.$swal({
        title: "Bạn Đã Chắc Chưa?",
        text: "Bạn Không Thể Lấy Lại Dữ Liệu Khi Đã Xóa!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xóa!",
      }).then(async (result) => {
        if (result.isConfirmed) {
          try {
            const data = await admin.deleteMenu(id, this.$axios);
            if (data.type === "SUCCESS") {
              this.listMenu = this.listMenu.filter((menu) => menu.id != id);
              return this.$swal("Xác Nhận Xóa!", "Bạn đã xóa thành công.", "success");
            }
            this.$swal("Lỗi!", data.code, "error");
          } catch (e) {}
        }
      });
    },
  },
};
</script>

<style>
</style>