<template>
  <div class="col-sm-12 col-lg-4 col-xl-3 dn-smd">
    <div class="dashbord_nav_list">
      <ul>
        <li>
          <Nuxt-link :to="infoUser.codeRole == 'ADMIN'? '/admin' : '/dashboard'"
            ><span class="flaticon-dashboard"></span> Bảng Điều Khiển</Nuxt-link
          >
        </li>
        <li v-for="(menu, i) in listMenu"  :key="i">
          <a :href="menu.parentNavbar.url"
            ><span class="flaticon-right-arrow"></span> {{menu.parentNavbar.name}}</a
          >
        </li>
        <li>
          <a href="/dashboard/change-password"
            ><span class="flaticon-locked"></span> Thay Đổi Mật Khẩu</a
          >
        </li>
        
      </ul>
    </div>
  </div>
</template>

<script>
import menu from "@/services/menu";
export default {
  data() {
    return {
      listMenu: [],
      infoUser: {}
    };
  },
  mounted() {
    this.infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(this.infoUser.token, "Bearer");
    this.getData()
  },
  methods: {
    async getData(){
      try{
        const data = await menu.getMenu({ codeRole: this.infoUser.codeRole}, this.$axios)
       this.listMenu = data.data

      }catch(e){

      }
    }
  }
};
</script>

<style>
</style>