<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mb30">Quản Trị</h4>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
        <div class="ff_one">
          <div class="icon">
            <span class="flaticon-paper-plane"></span>
          </div>
          <div class="detais">
            <div class="timer">{{report.totalJob}}</div>
            <p>Tổng tuyển dụng</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
        <div class="ff_one style2">
          <div class="icon"><span class="flaticon-favorites"></span></div>
          <div class="detais">
            <div class="timer">{{report.totalJobApply}}</div>
            <p>Tổng úng tuyển</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
        <div class="ff_one style3">
          <div class="icon"><span class="flaticon-alarm"></span></div>
          <div class="detais">
            <div class="timer">{{report.totalPost}}</div>
            <p>Tổng bài viết</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
        <div class="ff_one style4">
          <div class="icon"><span class="flaticon-tag"></span></div>
          <div class="detais">
            <div class="timer">{{report.totalUser}}</div>
            <p>Tổng người dùng
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import admin from '@/services/admin'
export default {
  layout: "dashboard",
  data(){
    return {
      report: {}
    }
  },
  middleware: 'roleAdmin',
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
    this.getData()
  },
  methods: {
    async getData() {
      try{
        const data = await admin.report(this.$axios);
        this.report = data.data
      }catch(e){

      }
    }
  }
};
</script>

<style>
</style>