<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="my_profile_form_area">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="fz20 mb20">Post Description</h4>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="UX/UI Desginer"
              v-model="descriptionForm.name"
              v-validate="'required|min:3|max:100'"
            />
            <p class="text-danger h5">{{ errors.first("name") }}</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea">
            <div class="form-group">
              <label>Content</label>
              <tinymce id="content" v-model="descriptionForm.content"></tinymce>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my_profile_input">
            <button class="btn btn-lg btn-thm" @click="postDescription">
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import admin from "@/services/admin.js";
export default {
  layout: "dashboard",
  data() {
    return {
      descriptionForm: {
        name: "",
        content: "",
      },
    };
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
  },
  methods: {

    async postDescription() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const response = await admin.postDescription(this.descriptionForm, this.$axios);
          if (response.code === "SUCCESS") {
            this.$notify({
              group: "all",
              type: "success",
              title: "Success",
              text: response.message,
            });
            setTimeout(() => {
              window.location.href = "/admin/description";
            }, 1500);
            return;
          }
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            title: "Error",
            text: "Create Post fail",
          });
        }
      }
    }
  },
};
</script>

<style>
</style>