<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mb30 float-left">List Description</h4>
        <a href="/admin/description/add" class="btn btn-lg btn-thm float-right">Add Description</a>
      </div>
      <div class="col-lg-12" v-if="listDescription.length">
        <div class="cnddte_fvrt_job candidate_job_reivew style2">
          <div class="table-responsive job_review_table">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="description in listDescription" :key="description.id">
                  <th scope="row">
                    <h4>{{ description.name }}</h4>
                  </th>
                  <td>
                    <ul class="view_edit_delete_list">
                      <li class="list-inline-item">
                        <a
                          :href="`/admin/description/${description.id}`"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Edit"
                          ><span class="flaticon-edit"></span
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <span
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Delete"
                          @click="deleteDescription(description.id)"
                          ><span class="flaticon-rubbish-bin"></span
                        ></span>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center" v-else>
          <h5>Chưa có dữ liệu</h5>
      </div>
    </div>
  </div>
</template>

<script>
import admin from "@/services/admin.js";
export default {
  layout: "dashboard",
  data() {
    return {
      listDescription: [],
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const response = await admin.getDescription({},this.$axios);
        this.listDescription = response.data;
      } catch (e) {}
    },
    async deleteDescription(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then(async (result) => {
        if (result.isConfirmed) {
            try{
                const data = await admin.deleteDescription(id, this.$axios);
                if (data.code === "SUCCESS") {
                  this.listDescription = this.listDescription.filter(
                    (category) => category.id != id
                  );
                  return this.$swal("Deleted!", "Your file has been deleted.", "success");
                }
                this.$swal("Error!", data.code, "error");
            }catch (e) {

            }
        }
      });
    },
  },
};
</script>

<style>
</style>