<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="my_profile_form_area">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="fz20 mb20">Tạo Bài Ứng Tuyển</h4>
        </div>
        <div class="col-lg-12 mt30">
          <div class="my_profile_thumb_edit"></div>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Tiêu Đề</label>
            <input
              type="text"
              class="form-control"
              placeholder="UX/UI Desginer"
              v-model="jobForm.title"
              name="title"
              v-validate="'required|min:3|max:100'"
            />
            <p class="text-danger h5">{{ errors.first("title") }}</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea">
            <div class="form-group">
              <label>Mô Tả Công Việc</label>
              <tinymce
                id="description"
                v-model="jobForm.descriptionJob"
              ></tinymce>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-12">
          <div class="my_profile_input form-group">
            <label>Thời Gian Hết Hạn</label>
            <input
              type="date"
              class="form-control"
              name="deadline"
              v-validate="'required'"
              v-model="jobForm.expirationDate"
            />
            <p class="text-danger h5">{{ errors.first("deadline") }}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Số Người Cần Tuyển</label>
            <input
              type="number"
              name="people"
              class="form-control"
              v-model="jobForm.numberPeople"
              v-validate="'required'"
            />
            <p class="text-danger h5">{{ errors.first("people") }}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Số Năm Kinh Nghiệm</label><br />
            <input
              type="number"
              name="experience"
              class="form-control"
              v-model="jobForm.yearsOfExperience"
              v-validate="'required'"
            />
            <p class="text-danger h5">{{ errors.first("experience") }}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Lương Từ</label><br />
            <input
              type="number"
              name="salary from"
              class="form-control"
              v-model="jobForm.salaryFrom"
              v-validate="'required'"
            />
            <p class="text-danger h5">{{ errors.first("salary from") }}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Lương Đến</label><br />
            <input
              type="number"
              name="salary to"
              class="form-control"
              v-model="jobForm.salaryTo"
              v-validate="'required'"
            />
            <p class="text-danger h5">{{ errors.first("salary to") }}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-12">
          <div class="my_profile_input form-group">
            <label>Vị Trí Làm Việc</label><br />
            <input
              type="text"
              name="position"
              class="form-control"
              v-model="jobForm.position"
              v-validate="'required'"
            />
            <p class="text-danger h5">{{ errors.first("position") }}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_select_box form-group">
            <label>Kiểu Công Việc</label><br />
            <select class="custom-select" v-model="jobForm.typeJob">
              <option value="1">Full Time</option>
              <option value="2">Part Time</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_select_box form-group">
            <label>Kiểu Lương</label><br />
            <select class="custom-select" v-model="jobForm.typeSalary">
              <option value="1">VND</option>
              <option value="2">Yên</option>
            </select>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea">
            <div class="form-group">
              <label>Yêu Cầu Ứng Viên</label>
              <tinymce id="require" v-model="jobForm.require"></tinymce>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea">
            <div class="form-group">
              <label>Quyền Lợi</label>
              <tinymce id="benefit" v-model="jobForm.benefit"></tinymce>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my_profile_input">
            <button class="btn btn-lg btn-thm" @click="editJob">
              Sửa
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import job from "@/services/job.js";
export default {
  layout: "dashboard",
  data() {
    return {
      jobForm: {},
    };
  },
  asyncData({ route, params }) {
    if (process.server) {
      return {
        idJob: route.params.id,
      };
    }
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const infoJob = await job.getOne(this.idJob, this.$axios);
        this.jobForm = infoJob.data;
      } catch (e) {
        window.location.href = "/dashboard/job";
      }
    },
    async editJob() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const response = await job.postJob(this.jobForm, this.$axios);
          if (response.code === "SUCCESS") {
            this.$notify({
              group: "all",
              type: "success",
              title: "Success",
              text: response.message,
            });
            setTimeout(() => {
              window.location.href = "/dashboard/job";
            }, 1500);
            return;
          }
          this.$swal("Error!", response.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            title: "Error",
            text: "Edit Job fail",
          });
        }
      }
    },
  },
};
</script>

<style>
</style>