<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mb30 float-left">Danh Sách Tuyển Việc</h4>
        <a href="/dashboard/job/add" class="btn btn-lg btn-thm float-right"
          >Đăng Tuyển</a
        >
      </div>
      <div class="col-lg-12">
        <div class="cnddte_fvrt_job candidate_job_reivew style2">
          <div class="table-responsive job_review_table">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Tiêu Đề</th>
                  <th scope="col">Applications</th>
                  <th scope="col">Trạng Thái</th>
                  <th scope="col">Hành Động</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="job in listJob" :key="job.id">
                  <th scope="row">
                    <h4>{{ job.title }}</h4>
                    <ul>
                      <li class="list-inline-item">
                        <a href="#"
                          ><span class="flaticon-event"> Hết Hạn: </span></a
                        >
                      </li>
                      <li class="list-inline-item">
                        <a class="color-black22" href="#">{{
                          job.expirationDate | dateFormat
                        }}</a>
                      </li>
                    </ul>
                  </th>
                  <td><span class="color-black22">17</span> Application(s)</td>
                  <td class="text-thm2">Inactive</td>
                  <td>
                    <ul class="view_edit_delete_list">
                      <li class="list-inline-item">
                        <a
                          :href="`/dashboard/apply/${job.id}`"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="View Apply"
                          ><span class="flaticon-eye"></span
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a
                          :href="`/dashboard/job/${job.id}`"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Edit"
                          ><span class="flaticon-edit"></span
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a
                          href="#"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Delete"
                          @click="deleteJob(job.id)"
                          ><span class="flaticon-rubbish-bin"></span
                        ></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import job from "@/services/job";
export default {
  layout: "dashboard",
  data() {
    return {
      listJob: [],
    };
  },
  mounted() {
    this.getData();
  },
  filters: {
    dateFormat: (date) => {
      let newDate = new Date(date);
      const month = newDate.getMonth() + 1;
      return newDate.getDate() + "/" + month + "/" + newDate.getFullYear();
    },
  },
  methods: {
    async getData() {
      try {
        const response = await job.list({}, this.$axios);
        this.listJob = response.data.data;
      } catch (e) {}
    },
    async deleteJob(id) {
      this.$swal({
        title: "Bạn Đã Chắc Chưa?",
        text: "Bạn Không Thể Lấy Lại Dữ Liệu Khi Đã Xóa!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xóa!",
      }).then(async (result) => {
        if (result.isConfirmed) {
          try {
            const data = await job.delete(id, this.$axios);
            if (data.code === "SUCCESS") {
              this.listJob = this.listJob.filter((value) => value.id != id);
              return this.$swal(
                "Xác Nhận Xóa!",
                "Bạn đã xóa thành công.",
                "success"
              );
            }
            this.$swal("Lỗi!", data.code, "error");
          } catch (e) {}
        }
      });
    },
  },
};
</script>

<style>
</style>