<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="my_profile_form_area">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="fz20 mb20">Trả Lời Hỗ Trợ</h4>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Tiêu Đề</label>
            <input
              type="text"
              class="form-control"
              v-model="supportForm.title"
              disabled
            />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea form-group">
            <label>Nội Dung</label>
            <textarea
              v-model="supportForm.content"
              rows="8"
              class="form-control"
              disabled
            ></textarea>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my_profile_input form-group">
            <label>Email</label>
            <input
              type="text"
              class="form-control"
              v-model="supportForm.email"
              disabled
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my_profile_input form-group">
            <label>Số Điện Thoại</label>
            <input
              type="text"
              class="form-control"
              v-model="supportForm.phoneNumber"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 class="fz20 mb20">Trả Lời</h4>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea form-group">
            <label>Nội Dung</label>
            <textarea
              v-model="sendEmailForm.replyContent"
              rows="8"
              name="content"
              class="form-control"
              data-vv-as="Nội Dung"
              v-validate="'required'"
            ></textarea>
            <p class="text-danger h5">{{ errors.first("content") }}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my_profile_input">
            <button class="btn btn-lg btn-thm" @click="editCategory">
              Gửi
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import support from "@/services/support.js";
export default {
  layout: "dashboard",
  data() {
    return {
      supportForm: {},
      sendEmailForm: {},
    };
  },
  asyncData({ route, params }) {
    if (process.server) {
      return {
        idSupport: route.params.id,
      };
    }
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const infoSupport = await support.getOne(this.idSupport, this.$axios);
        this.supportForm = infoSupport.data;
      } catch (e) {
        window.location.href = "/dashboard/support";
      }
    },
    async editCategory() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          this.sendEmailForm.id = this.idSupport;
          const response = await support.sendMail(
            this.sendEmailForm,
            this.$axios
          );
          if (response.type === "SUCCESS") {
            this.$notify({
              group: "all",
              type: "success",
              title: "Thành Công",
              text: response.message,
            });
            setTimeout(() => {
              window.location.href = "/dashboard/support";
            }, 1500);
            return;
          }
          this.$swal("Send!", response.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            title: "Lỗi!",
            text: "Gửi Mail Lỗi",
          });
        }
      }
    },
  },
};
</script>

<style>
</style>