<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mb30 float-left">Danh Sách Hỗ Trợ</h4>
      </div>
      <div class="col-lg-12">
        <div class="cnddte_fvrt_job candidate_job_reivew style2">
          <div class="table-responsive job_review_table">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Email</th>
                  <th scope="col">TIêu Đề</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="support in listSupport" :key="support.id">
                  <th scope="row">
                    <h4>{{ support.email }}</h4>
                  </th>
                  <th scope="row">
                    {{ support.title }}
                  </th>
                  <td>
                    <ul class="view_edit_delete_list">
                      <li class="list-inline-item">
                        <a
                          :href="`/dashboard/support/${support.id}`"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Edit"
                          ><span class="flaticon-edit"></span
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <span
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Delete"
                          @click="deleteSupport(support.id)"
                          ><span class="flaticon-rubbish-bin"></span
                        ></span>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import support from "@/services/support.js";
export default {
  layout: "dashboard",
  data() {
    return {
      listSupport: [],
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const response = await support.getAll(this.$axios);
        this.listSupport = response.data;
      } catch (e) {}
    },
    async deleteSupport(id) {
      this.$swal({
        title: "Bạn Đã Chắc Chưa?",
        text: "Bạn Không Thể Lấy Lại Dữ Liệu Khi Đã Xóa!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xóa!",
      }).then(async (result) => {
        if (result.isConfirmed) {
            try{
                const data = await support.delete(id, this.$axios);
                if (data.code === "SUCCESS") {
                  this.listSupport = this.listSupport.filter(
                    (support) => support.id != id
                  );
                  return this.$swal("Xác Nhận Xóa!", "Bạn đã xóa thành công.", "success");
                }
                this.$swal("Lỗi!", data.code, "error");
            }catch (e) {

            }
        }
      });
    },
  },
};
</script>

<style>
</style>