<template>
  <header
    class="header-nav menu_style_home_three style_one navbar-scrolltofixed stricky main-menu"
  >
    <div class="container-fluid">
      <!-- Ace Responsive Menu -->
      <nav>
        <!-- Menu Toggle btn-->
        <div class="menu-toggle">
          <img
            class="nav_logo_img img-fluid"
            :src="infomation ? infomation.logoPath : '/images/header-logo3.png'"
            alt=""
          />
          <button type="button" id="menu-btn">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <a href="/" class="navbar_brand float-left dn-smd">
          <img
            class="img-fluid"
            :src="infomation ? infomation.logoPath : '/images/header-logo3.png'"
            alt=""
          />
        </a>
        <ul
          id="respMenu"
          class="ace-responsive-menu"
          data-menu-style="horizontal"
        >
          <li>
            <a href="/"><span class="title">Trang Chủ</span></a>
          </li>
          <li>
            <a href="/list-job"
              ><span class="title">Việc Làm Đang Tuyển</span></a
            >
          </li>
          <li>
            <a href="/blog"><span class="title">Tin Tức</span></a>
          </li>
          <li>
            <a href="/contact"><span class="title">Liên Hệ</span></a>
          </li>
          <li>
            <a href="/abouts"><span class="title">Về Chúng Tôi</span></a>
          </li>
        </ul>
        <ul class="sign_up_btn pull-right dn-smd" v-if="!loginIs">
          <li>
            <Nuxt-link to="/login" class="btn btn-md btn-transparent"
              >Đăng<span class="dn-md"> Nhập</span>/Đăng<span class="dn-md">
                Kí</span
              ></Nuxt-link
            >
          </li>
        </ul>
        <ul class="header_user_notif pull-right dn-smd" v-else>
          <li class="user_notif"></li>
          <li class="user_setting">
            <div class="dropdown">
              <a class="btn dropdown-toggle" href="#" data-toggle="dropdown"
                ><img
                  class="rounded-circle"
                  :src="
                    infoUser.avatarPath
                      ? infoUser.avatarPath
                      : '/images/team/e1.png'
                  "
                  alt=""
                />
                <span class="pl15 pr15">{{
                  infoUser.firstName + " " + infoUser.lastName
                }}</span></a
              >
              <div class="dropdown-menu">
                <div class="user_set_header">
                  <p>
                    Chào, {{ infoUser.firstName + " " + infoUser.lastName
                    }}<br />
                  </p>
                </div>
                <div class="user_setting_content">
                  <a
                    class="dropdown-item"
                    href="/dashboard"
                    v-if="infoUser.codeRole !== 'ADMIN'"
                    ><span class="flaticon-dashboard"></span> Bảng Điều Khiển</a
                  >
                  <a class="dropdown-item" href="/admin" v-else
                    ><span class="flaticon-dashboard"></span> Admin</a
                  >
                  <a class="dropdown-item" href="/dashboard/profile"
                    ><span class="flaticon-profile"></span>Tài Khoản</a
                  >
                  <a class="dropdown-item" href="/dashboard/change-password"
                    ><span class="flaticon-locked"></span> Thay Đổi Mật Khẩu</a
                  >
                  <a class="dropdown-item" href="#" @click="logout"
                    ><span class="flaticon-logout"></span> Đăng Xuất</a
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- Button trigger modal -->
      </nav>
      <!-- End of Responsive Menu -->
    </div>
  </header>
</template>

<script>
import admin from "@/services/admin";
export default {
  data() {
    return {
      loginIs: false,
      infoUser: [],
      infomation: {},
    };
  },
  async mounted() {
    const infoUser = this.$auth.$storage.getCookie("infoUser");

    const response = await admin.getInfomation(this.$axios);
    this.infomation = response;
    this.$auth.$storage.setLocalStorage("infomation", response);

    if (infoUser) {
      this.loginIs = true;
      this.infoUser = infoUser;
      return;
    }

    this.$auth.$storage.removeUniversal("infoUser");
  },
  methods: {
    logout() {
      this.$auth.$storage.removeUniversal("infoUser");
      window.location.href = "/";
    },
  },
};
</script>

<style>
</style>