<template>
  <div id="page" class="stylehome1 h0">
    <div class="mobile-menu">
      <div class="header stylehome1 home3">
        <img
          class="nav_logo_img img-fluid float-left mt25"
          src="/images/header-logo3.png"
          alt="header-logo3.png"
        />
        <a class="bgc-darkblue" href="#menu"><span></span></a>
      </div>
    </div>
    <!-- /.mobile-menu -->
    <nav id="menu" class="stylehome1">
      <ul>
        <li>
          <a href="/"><span class="title">Home</span></a>
        </li>
        <li>
          <a href="/list-job"><span class="title">List Job</span></a>
        </li>
        <li>
          <a href="/blog"><span class="title">Blog</span></a>
        </li>
        <li>
          <a href="/contact"><span class="title">Contact</span></a>
        </li>
        <li>
          <a href="/abouts"><span class="title">About Us</span></a>
        </li>
        <li v-if="!loginIs">
          <a href="/login"><span class="title">Login/Signup</span></a>
        </li>
        <li v-if="loginIs">
          <a href="/dashboard" v-if="infoUser.codeRole !== 'ADMIN'"><span class="title">Dashboard</span></a>
          <a href="/admin" v-else><span class="title">Admin</span></a>
        </li>
        <li v-if="loginIs">
          <a href="/dasboard"><span class="title">Profile</span></a>
        </li>
        <li v-if="loginIs">
          <a href="/dasboard/change-password"><span class="title">Change Password</span></a>
        </li>
        <li v-if="loginIs">
          <a href="#"><span class="title" @click="logout">Logout</span></a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loginIs: false,
      infoUser: [],
    };
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    if (infoUser) {
      this.loginIs = true;
      this.infoUser = infoUser;
    }
  },
  methods: {
    logout() {
      this.$auth.$storage.removeUniversal("infoUser");
      window.location.href = "/";
    },
  },
};
</script>

<style>
</style>