<template>
  <div>
    <!-- Main Header Nav -->
    <Header />
    <!-- Main Header Nav For Mobile -->
    <HeaderMobile />
  </div>
</template>

<script>
import Header from "./Header";
import HeaderMobile from "./HeaderMobile";
export default {
  data() {
    return {
      loginIs: false,
    };
  },
  components: {
    Header,
    HeaderMobile
  },
};
</script>

<style>
</style>