<template>
  <div class="col-lg-12 mt30">
    <div class="mbp_pagination">
      <ul class="page_navigation">
        <li class="page-item">
          <a class="page-link" href="#" @click="toPage(data.page - 1)">
            <span class="flaticon-left-arrow"></span> Previous</a
          >
        </li>
        <li
          class="page-item"
          v-for="(loopPage, index) in dataPage"
          :key="index"
          :class="loopPage.page == data.page ? 'active disabled' : ''"
          @click="toPage(loopPage.page)"
        >
          <a class="page-link" href="#">{{ loopPage.page }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" @click="toPage(data.page + 1)"
            >Next <span class="flaticon-right-arrow"></span
          ></a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      dataPage: [],
    };
  },
  mounted() {
    console.log(this.dataPage)
    this.handlePage();
  },
  beforeUpdate(){
    this.dataPage = []
    this.handlePage();
  },
  methods: {
    handlePage() {
      // gán page hiện tại từ data
      let page = this.data.page;
      // tính tổng page
      let total = this.data.total;

      // ... thu gọn phân trang
      let shortLeft = page - 2 > 1 ? "..." : "";

      if (shortLeft != "") {
        this.dataPage.push({ page: shortLeft });
      }

      // xử lý và gán những page được hiển thị vào mảng chứa
      for (
        let i = page - 2 > 0 ? page - 2 : 1;
        i <= (page + 2 > total ? total : page + 2);
        i++
      ) {
        if (i == page) {
          this.dataPage.push({ page: i, active: true });
        } else {
          this.dataPage.push({ page: i });
        }
      }

      let shortRight = page + 2 < total ? "..." : "";

      if (shortRight != "") {
        this.dataPage.push({ page: shortRight });
      }
    },
    async toPage(page) {
      if (page === "...") {
        return;
      }
      if (page > this.data.total  || page < 1) {
        return;
      }
      this.$emit("pagination", page)
    },
  },
};
</script>

<style>
</style>