<template>
  <div>
    <!-- Inner Page Breadcrumb -->
    <section
      class="inner_page_breadcrumb bgc-f0 pt30 pb30"
      aria-label="breadcrumb"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="breadcrumb_title float-left">Danh Mục</h4>
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ infoCategory.name }}
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- Main Blog Post Content -->
    <section class="blog_post_container bgc-fa">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="main_blog_post_content">
              <div class="row text-center" v-if="!listPost.length">
                <h2>Chưa có bài viết nào</h2>
              </div>
              <div class="row" v-else>
                <div
                  class="col-sm-6 col-lg-6"
                  v-for="post in listPost"
                  :key="post.id"
                >
                  <div class="blog_grid_post mb35">
                    <div class="thumb">
                      <img
                        class="img-fluid img-height"
                        :src="post.thumbnailPath"
                        alt=""
                      />
                      <div class="tag">{{ infoCategory.name }}</div>
                    </div>
                    <div class="details">
                      <h4>{{ post.title }}</h4>
                      <ul class="post_meta">
                        <li>
                          <a href="#"><span class="flaticon-clock"></span></a>
                        </li>
                        <li>
                          <a href="#"
                            ><span>{{ post.createdDate | dateFormat }}</span></a
                          >
                        </li>
                      </ul>
                      <p>{{ post.shortContent }}</p>
                      <a
                        class="text-thm"
                        :href="`/blog/${converSlug(post.title)}_${post.id}`"
                        >Đọc Ngay <span class="flaticon-right-arrow pl10"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- phân trang -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="main_blog_post_widget_list">
              <div class="blog_category_widget">
                <h4 class="title">Danh Mục</h4>
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                    v-for="category in listCategory"
                    :key="category.id + 1000"
                  >
                    <a
                      :href="`/category/${converSlug(category.name)}_${
                        category.id
                      }`"
                      >{{ category.name }} </a
                    ><span class="badge">({{ category.totalRecord }})</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import post from "@/services/post";
import slug from "@/utils/slug";
import Pagination from "@/components/Pagination";

export default {
  layout: "home",
  components: {
    Pagination,
  },
  data() {
    return {
      title: "",
      infoCategory: {},
      listCategory: [],
      listPost: [],
      dataPagination: null,
    };
  },
  asyncData({ route, params }) {
    if (process.server) {
      return {
        idCategory: slug.convertSlug(route.params.id),
      };
    }
  },
  head() {
    return {
      title: this.title,
    };
  },
  filters: {
    dateFormat: (date) => {
      let newDate = new Date(date);
      const month = newDate.getMonth() + 1;
      return newDate.getDate() + "/" + month + "/" + newDate.getFullYear();
    },
  },
  mounted() {
    this.getCategory();
    this.getPost();
  },
  methods: {
    async getCategory() {
      const listCategory = await post.getCategoryVisitor(this.$axios);
      this.listCategory = listCategory.data;
    },
    async getPost(indexPage = 1) {
      const infoCategory = await post.getPostToCategory(
        { id: this.idCategory },
        this.$axios
      );
      this.infoCategory = infoCategory.data;
      this.listPost = this.infoCategory.listPost;
      this.title = infoCategory.data.name;
    },
    converSlug(text) {
      return slug.convertText(text);
    },
  },
};
</script>

<style scoped>
.img-height {
  height: 350px !important;
}
</style>