<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="fz20">Danh Sách Ứng Viên</h4>
      </div>
      <template v-if="listApply.length">
        <div class="col-lg-12" v-for="(apply, i) in listApply" :key="i">
          <div class="candidate_list_view style2">
            <div class="thumb">
              <img
                class="img-fluid rounded-circle"
                :src="
                  apply.avatarPath ? apply.avatarPath : '/images/team/e1.png'
                "
                alt=""
                height="100px"
                width="100px"
              />
            </div>
            <div class="content">
              <h4 class="title">
                {{ apply.firstName }} {{ apply.lastName }}
                <small class="verified text-thm2 pl10"
                  ><i class="fa fa-check-circle"></i
                ></small>
              </h4>
              <p>Email: {{ apply.email }}</p>
              <ul class="address_list">
                <li class="list-inline-item">Số Điện Thoại: {{ apply.phoneNumber }}</li>
              </ul>
            </div>
            <ul class="view_edit_delete_list mt25 float-right fn-xl">
              <li class="list-inline-item">
                <a
                  :href="server+apply.cvPath"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tải Về CV"
                  ><span class="flaticon-resume"></span> Tải Về CV</a
                >
              </li>
              <li class="list-inline-item">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Xem Ngay CV"
                  @click="showCv(apply.cvPath)"
                  ><span class="flaticon-open-envelope-with-letter"></span>
                  Xem Ngay CV</a
                >
              </li>
            </ul>
          </div>
        </div>
      </template>
      <template v-else>
        <div class="col-lg-12">
          <h4 class="text-center">Không có ứng viên nào!</h4>
        </div>
      </template>
    </div>
    <Modal v-model="showModal" title="Preview CV" modal-class="modal-xl">
      <iframe
        :src="`https://docs.google.com/gview?url=${path}&embedded=true`"
        frameborder="0"
        height="500px"
      ></iframe>
    </Modal>
  </div>
</template>

<script>
import user from "@/services/user";
export default {
  layout: "dashboard",
  data() {
    return {
      listApply: [],
      showModal: false,
      path: "",
      server: process.env.API_BASE_URL
    };
  },
  asyncData({ route, params }) {
    if (process.server) {
      return {
        idJob: route.params.id,
      };
    }
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
    this.getData();
  },
  methods: {
    async getData() {
      const response = await user.getApplyToJob(
        {
          id: this.idJob,
        },
        this.$axios
      );
      this.listApply = response.data;
    },
    showCv(path) {
      this.showModal = !this.showModal
      this.path = this.server + path;
    }
  },
};
</script>

<style scope>
@media (min-width: 992px) {
  .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
</style>