<template>
  <div class="wrapper">
    <div class="preloader"></div>
    <Navbar />
    <section class="our-dashbord dashbord">
      <div class="container">
        <div class="row">
          <Menu />
          <!-- gọi đến router con -->
          <Nuxt />
        </div>
      </div>
    </section>
    <a class="scrollToHome text-thm" href="#"
      ><i class="flaticon-rocket-launch"></i
    ></a>
    <notifications group="all" />
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Menu from "../components/dashboard/Menu";
export default {
  components: {
    Navbar,
    Menu,
  },
   middleware: "checkToken"
};
</script>

<style>
</style>