<template>
	<!-- Our Error Page -->
	<section class="our-error bgc-fa">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="error_page newsletter_widget">
						<div class="erro_code"><img class="img-fluid" src="/images/resource/404.png" alt="404.png"></div>
						<h4>Chúng Tôi Xin Lỗi, Không Tìm Thấy Trang</h4>
						<p>Rất tiếc, không thể tìm thấy trang bạn đang tìm kiếm. Nó có thể tạm thời không có sẵn, đã di chuyển hoặc không còn tồn tại. Kiểm tra Url bạn đã nhập xem có bất kỳ lỗi nào không và thử lại.</p>
						<form class="form-inline mailchimp_form">
							<label class="sr-only" for="inlineFormInputMail3"></label>
							<input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputMail3" placeholder="Nhập Email Của Bạn">
							<button type="submit" class="btn btn-primary mb-2"><span class="fa fa-paper-plane-o"></span></button>
						</form>
					</div>
					<a class="text-thm mt25" href="/">Trở Về Trang Chủ <span class="flaticon-right-arrow pl10"></span></a>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
  layout: "home"
}
</script>

<style>

</style>