<template>
  <div class="wrapper">
    <div class="preloader"></div>
    <Navbar />
    <Nuxt />
    <!-- Our Footer -->
    <section class="footer_one home3">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-md-3 col-lg-2">
            <div class="quick_link_widget">
              <h4>Quick Links</h4>
              <ul class="list-unstyled">
                <li><a href="/list-job">List Job</a></li>
                <li><a href="/blog">List Post</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8 col-md-6 col-md-3 col-lg-4">
            <div class="newsletter_widget">
              <h4>Newsletter</h4>
              <p>
                Subscribe to CareerUp Pacific newsletter to get the latest jobs
                posted, candidates ,and other latest news stay updated.
              </p>
            </div>
          </div>
          <div class="col-sm-8 col-md-6 col-md-3 col-lg-4">
            <div class="newsletter_widget">
              <h4>Page Facebook</h4>
              <div id="fb-root"></div>
              <script
                async
                defer
                crossorigin="anonymous"
                src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=713607592339705&autoLogAppEvents=1"
                nonce="sIyFyjTz"
              ></script>
              <div
                class="fb-page"
                data-href="https://www.facebook.com/poly.connect.fpt/"
                data-tabs=""
                data-width=""
                data-height=""
                data-small-header="false"
                data-adapt-container-width="true"
                data-hide-cover="false"
                data-show-facepile="true"
              >
                <blockquote
                  cite="https://www.facebook.com/poly.connect.fpt/"
                  class="fb-xfbml-parse-ignore"
                >
                  <a href="https://www.facebook.com/poly.connect.fpt/"
                    >Poly Kết Nối</a
                  >
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Our Footer Bottom Area -->
    <section class="footer_bottom_area home3 p0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 pb10 pt8 text-center">
            <div class="copyright-widget tac-smd mt20">
              <p>© 2021 CareerUp. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <a class="scrollToHome text-thm" href="#"
      ><i class="flaticon-rocket-launch"></i
    ></a>
    <notifications group="all" />
  </div>
</template>
<script>
import Navbar from "../components/Navbar";
export default {
  components: {
    Navbar,
  },
};
</script>