<template>
  <div>
    <!-- Inner Page Breadcrumb -->
    <section
      class="inner_page_breadcrumb bgc-f0 pt30 pb30"
      aria-label="breadcrumb"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="breadcrumb_title float-left">Tin Tức</h4>
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tin Tức</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main Blog Post Content -->
    <section class="blog_post_container bgc-fa">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="main_blog_post_content">
              <div class="mbp_thumb_post">
                <div class="details">
                  <!-- <h5>Tips</h5> -->
                  <h2>{{ infoPost.title }}</h2>
                  <ul class="post_meta">
                    <li>
                      <a href="#"><span class="flaticon-clock"></span></a>
                    </li>
                    <li>
                      <a href="#"
                        ><span>{{ infoPost.createdDate }}</span></a
                      >
                    </li>
                  </ul>
                  <div v-html="infoPost.content"></div>
                </div>
                <ul class="blog_post_share">
                  <li><p>Chia Sẻ</p></li>
                  <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u="
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="main_blog_post_widget_list">
              <div class="blog_category_widget">
                <h4 class="title">Danh Mục</h4>
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                    v-for="category in listCategory"
                    :key="category.id + 1000"
                  >
                    <a :href="`/category/${converSlug(category.name)}_${category.id}`">{{ category.name }} </a
                    ><span class="badge">({{ category.totalRecord }})</span>
                  </li>
                </ul>
              </div>
              <div class="blog_recent_post_widget">
                <h4 class="title">Bài Viết Liên Quan</h4>

                <ul class="list-group">
                  <div class="media">
                    <img
                      class="align-self-start mr-3"
                      src="/images/blog/s1.jpg"
                      alt="s1.jpg"
                    />
                    <div class="media-body">
                      <p class="mt-0 post_title">
                        Canada adds 12,500 jobs in modest July rebound
                      </p>
                      <a href="#">October 25, 2019.</a>
                    </div>
                  </div>
                  <div class="media">
                    <img
                      class="align-self-start mr-3"
                      src="/images/blog/s2.jpg"
                      alt="s2.jpg"
                    />
                    <div class="media-body">
                      <p class="mt-0 post_title">
                        Canada adds 12,500 jobs in modest July rebound
                      </p>
                      <a href="#">October 25, 2019.</a>
                    </div>
                  </div>
                  <div class="media">
                    <img
                      class="align-self-start mr-3"
                      src="/images/blog/s3.jpg"
                      alt="s3.jpg"
                    />
                    <div class="media-body">
                      <p class="mt-0 post_title">
                        Canada adds 12,500 jobs in modest July rebound
                      </p>
                      <a href="#">October 25, 2019.</a>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import slug from "@/utils/slug";
import post from "@/services/post";
export default {
  layout: "home",
  data() {
    return {
      title: "",
      infoPost: {},
      listCategory: [],
    };
  },
  asyncData({ route, params }) {
    if (process.server) {
      return {
        slug: route.params.blog,
        idPost: slug.convertSlug(route.params.blog),
      };
    }
  },
  head() {
    return {
      title: this.title,
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    async getData() {
      const listCategory = await post.getCategoryVisitor(this.$axios);
      this.listCategory = listCategory.data;
      const dataPost = await post.getOnePostVisitor({id: this.idPost}, this.$axios);
      this.infoPost = dataPost.data;
      this.title = dataPost.data.title;
      const dataPostCategory = await post.getPostToCategory(2, this.$axios);
      console.log(dataPostCategory)
    },
    converSlug(text) {
      return slug.convertText(text);
    },
  },
};
</script>

<style>
</style>