<template>
  <!-- Candidate Personal Info Details-->
  <section class="bgc-fa pb30 mt70 mbt45">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="candidate_personal_info style2">
            <div class="details">
              <span class="text-thm2 fwb">{{ infoJob.typeJob | typeJob }}</span>
              <h3>{{ infoJob.title }}</h3>
            </div>
            <div class="row job_meta_list mt30">
              <div class="col-sm-4 col-lg-3">
                <button class="btn btn-block btn-thm" @click="apply">
                  Ứng Tuyển Ngay <span class="flaticon-right-arrow pl10"></span>
                </button>
              </div>
              <div class="col-sm-4 col-lg-6"></div>
              <div class="col-sm-4 col-lg-3">
                <button class="btn prpl40 btn-white" @click="share">
                  <span class="flaticon-share fz24 pr10"></span> Chia sẻ
                </button>
              </div>
            </div>
            <div class="row personer_information_company">
              <div class="col-sm-4 col-lg-4">
                <div class="icon text-thm">
                  <span class="flaticon-money"></span>
                </div>
                <div class="details">
                  <p>Mức Lương</p>
                  <p>
                    {{ (infoJob.salaryFrom || 0) | money }}
                    <span>{{ infoJob.typeSalary | typeSalary }}</span> -
                    {{ (infoJob.salaryTo || 0) | money }}
                    <span>{{ infoJob.typeSalary | typeSalary }}</span>
                  </p>
                </div>
              </div>
              <div class="col-sm-4 col-lg-4">
                <div class="icon text-thm">
                  <span class="flaticon-controls"></span>
                </div>
                <div class="details">
                  <p>Vị trí</p>
                  <p>{{ infoJob.position }}</p>
                </div>
              </div>
              <div class="col-sm-4 col-lg-4">
                <div class="icon text-thm">
                  <span class="flaticon-mortarboard"></span>
                </div>
                <div class="details">
                  <p>Yêu cầu kinh nghiệm</p>
                  <p>{{ infoJob.yearsOfExperience }} Năm</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="row">
            <div class="col-lg-12">
              <div class="candidate_about_info style2 mt10">
                <h4 class="fz20 mb30">Mô Tả Công Việc</h4>
                <p class="mb30" v-html="infoJob.descriptionJob"></p>
                <h4 class="fz20 mb30">Quyền Lợi</h4>
                <div class="mb30" v-html="infoJob.benefit"></div>
                <h4 class="fz20 mb30">Yêu Cầu</h4>
                <p class="mb30" v-html="infoJob.require"></p>
                <button class="btn btn-lg btn-thm mb15" @click="apply">
                  Ứng Tuyển Ngay <span class="flaticon-right-arrow pl10"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="job_info_widget">
            <ul>
              <li class="bgc-white">
                <span class="flaticon-24-hours-support text-thm2"></span>
                <span>{{ infoJob.expirationDate | mathDate }}</span>
                <span>Ngày</span>
              </li>
              <li class="bgc-white">
                <span class="flaticon-zoom-in text-thm2"></span>
                <span>{{ infoJob.numberPeople }}</span> <span>Ứng viên</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import slug from "@/utils/slug";
import job from "@/services/job";
import user from "@/services/user";
export default {
  layout: "home",
  data() {
    return {
      title: "",
      infoJob: {},
    };
  },
  asyncData({ route, params }) {
    if (process.server) {
      return {
        idJob: slug.convertSlug(route.params.job),
        slug: process.env.BASE_URL + route.params.job,
      };
    }
  },
  head() {
    return {
      title: this.title,
    };
  },
  mounted() {
    this.getData();
  },
  filters: {
    typeSalary: (type) => (type == 1 ? "VND" : "Yên"),
    money: (money) => money.toLocaleString("it-IT"),
    dateFormat: (date) => {
      let newDate = new Date(date);
      const month = newDate.getMonth() + 1;
      return newDate.getDate() + "/" + month + "/" + newDate.getFullYear();
    },
    typeJob: (type) => (type == 1 ? "Full Time" : "Part Time"),
    mathDate: (date) => {
      let now = new Date();
      date += "";
      let arrayDate = date.split("/");
      let target = new Date(
        arrayDate[2],
        Number(arrayDate[1] - 1),
        arrayDate[0]
      );
      let disty = target.getTime() - now.getTime();
      if (disty < 0) {
        return "Hết hạn";
      } else if (disty == 0) {
        return "Hết hạn hôm nay";
      }
      return Math.floor(disty / 86400000);
    },
  },
  methods: {
    async getData() {
      try {
        const dataJob = await job.getOneDetails(
          { id: this.idJob },
          this.$axios
        );
        this.infoJob = dataJob.data;
        this.title = dataJob.data.title;
      } catch (e) {
        window.location.href = "/";
      }
    },
    async apply() {
      const infoUser = this.$auth.$storage.getLocalStorage("infoUser");

      if (!infoUser) {
        this.$router.push("/login");
        return;
      }
      if(infoUser.codeRole != "CANDICATE"){
         return this.$swal(
          "Lỗi!",
          "Bạn không phải là ứng viên!",
          "error"
        );
      }
      this.$axios.setToken(infoUser.token, "Bearer");
      const getLinkCv = await user.getInfo({}, this.$axios);
      if (!getLinkCv.cvPath) {
        return this.$swal(
          "Lỗi!",
          "Bạn chưa tải lên cv nào vui lòng tải lên CV!",
          "error"
        );
      }
      const data = {
        idUser: infoUser.id,
        idJob: this.idJob,
        status: 1,
      };
      try {
        const response = await user.apply(data, this.$axios);
        if (response.code === "SUCCESS") {
          this.$swal("Thành công!", "Bạn đã ứng tuyển thành công", "success");
        }
      } catch (e) {}
    },
    share() {
      window.open(`https://www.facebook.com/sharer/sharer.php?u=${this.slug}`, "_blank");
    },
  },
};
</script>

<style>
</style>