<template>
  <div>
    <section
      class="inner_page_breadcrumb bgc-f0 pt30 pb30"
      aria-label="breadcrumb"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="breadcrumb_title float-left">Về Chúng Tôi</h4>
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Về Chúng Tôi
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="about-section bgc-fa">
      <div class="container">
        <div class="row" v-for="description in listDescription" :key="description.id">
          <div class="col-lg-6">
            <div class="about_content">
              <h3>{{description.name}}</h3>
              <p class="color-black22 mt30" v-html="description.content">
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about_thumb mt50">
              <img class="img-fluid" src="images/about/1.png" alt="1.png" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import visitor from '@/services/visitor'
export default {
  layout: "home",
  data(){
    return {
      listDescription: []
    }
  },
  mounted(){
    this.getData()
  },
  methods: {
    async getData(){
      const response = await visitor.getAllDescription(this.$axios)
      this.listDescription = response
    }
  }
};
</script>

<style>
</style>