<template>
  <div>
    <!-- Inner Page Breadcrumb -->
    <section
      class="inner_page_breadcrumb bgc-f0 pt30 pb30"
      aria-label="breadcrumb"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="breadcrumb_title float-left">Liên Hệ</h4>
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Liên Hệ
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- How It's Work -->
    <section class="our-contact bgc-fa pt0">
      <div class="container-fluid p0">
        <div class="row">
          <div class="col-lg-12">
            <div class="h400 w100"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row contact_form_grid">
          <div class="col-lg-5 contact_details">
            <h4>Thông Tin Liên Hệ</h4>
            <p>
              {{infomation.description}}
            </p>
            <ul class="address_list">
              <li>
                <a href="#"
                  ><span class="flaticon-marker"></span> {{infomation.address}}</a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="flaticon-open-envelope-with-letter"></span>
                  Email:
                  {{infomation.email}}</a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="flaticon-call"></span> Điện Thoại: {{infomation.phone}}</a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="flaticon-fax"></span> Fax: {{infomation.fax}}</a
                >
              </li>
            </ul>
            <ul class="social_list">
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-google"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 form_grid">
            <h4 class="mb25">Chúng Tôi Lắng Nghe Bạn!</h4>
            <div class="contact_form" novalidate="novalidate">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input
                      name="email"
                      class="form-control required email"
                      placeholder="Email Của Bạn"
                      data-vv-as="Email"
                      required="required"
                      type="email"
                      v-validate="'required|email'"
                      v-model="contactForm.email"
                    />
                    <p class="text-danger h5">{{ errors.first("email") }}</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input
                      name="phone"
                      class="form-control"
                      data-vv-as="Số điện thoại"
                      placeholder="Số Điện Thoại"
                      required="required"
                      type="number"
                      v-model="contactForm.number"
                      v-validate="'required'"
                    />
                    <p class="text-danger h5">{{ errors.first("phone") }}</p>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <input
                      name="title"
                      class="form-control required"
                      placeholder="Tiêu Đề"
                      data-vv-as="Tiêu đề"
                      required="required"
                      type="text"
                      v-validate="'required'"
                      v-model="contactForm.title"
                    />
                    <p class="text-danger h5">{{ errors.first("title") }}</p>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea
                      name="content"
                      class="form-control required"
                      placeholder="Nội dung"
                      rows="8"
                      data-vv-as="Nội dung"
                      required="required"
                      v-validate="'required'"
                      v-model="contactForm.content"
                    ></textarea>
                    <p class="text-danger h5">{{ errors.first("content") }}</p>
                  </div>
                  <div class="form-group text-right">
                    <button class="btn btn-lg btn-thm" @click="sendContact">
                      Gửi
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4 prpl5">
            <div class="icon_box_hiw home3 contact_page">
              <div class="icon">
                <div class="list_tag float-right"></div>
                <span class="flaticon-career"></span>
              </div>
              <div class="details">
                <h4>Want to join us?</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 prpl5 mt20-xxsd">
            <div class="icon_box_hiw home3 contact_page">
              <div class="icon middle">
                <div class="list_tag float-right"></div>
                <span class="flaticon-newspaper"></span>
              </div>
              <div class="details">
                <h4>Read our latest news</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 prpl5 mt20-xxsd">
            <div class="icon_box_hiw home3 contact_page">
              <div class="icon">
                <div class="list_tag float-right"></div>
                <span class="flaticon-application"></span>
              </div>
              <div class="details">
                <h4>Have questions?</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import contact from "../services/contact.js";
export default {
  layout: "home",
  data() {
    return {
      contactForm: {
        email: "",
        phoneNumber: "",
        content: "",
        title: "",
      },
      infomation: {
        address: "a",
      }
    };
  },
  async mounted() {
   this.infomation = this.$auth.$storage.getLocalStorage('infomation')
  },
  methods: {
    async sendContact() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const data = await contact.postContact(this.contactForm, this.$axios);
          if(data.code === "SUCCESS"){
            this.contactForm = {}
            return this.$swal("Change!", "Cảm ơn bạn đã phản hồi chúng tôi sẽ liên hệ lại bạn!", "success");
          }
          this.$notify({
            group: "all",
            type: "error",
            text: "Có lỗi xảy ra",
          });
        } catch (e) {

        }
      }
    },
  },
};
</script>

<style>
</style>