<template>
  <!-- Our LogIn Register -->
  <section class="our-log-reg bgc-fa" style="margin-top: 70px">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6">
          <div class="login_form">
            <div class="heading">
              <h3 class="text-center">Quên Mật Khẩu</h3>
              <p class="text-center">
                <a class="text-thm" href="/signup">Đăng Kí!</a> |
                <a class="text-thm" href="/login">Đăng Nhập!</a>
              </p>
            </div>
            <!-- form nhập email -->
            <div class="form-group" v-if="!code && !changePassword">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
                data-vv-as="Email"
                v-model="forgotForm.email"
                v-validate="'required'"
              />
              <p class="text-danger h5">{{ errors.first("email") }}</p>
            </div>
            <button
              v-if="!code && !changePassword"
              @click="forgot"
              class="btn btn-log btn-block btn-thm"
            >
              Lấy Lại Mật Khẩu
            </button>
            <!-- form nhập code -->
            <div class="form-group" v-if="code">
              <input
                type="number"
                class="form-control"
                name="code"
                placeholder="Code"
                data-vv-as="Code"
                v-model="forgotForm.userCode"
                v-validate="'required'"
              />
              <p class="text-danger h5">{{ errors.first("code") }}</p>
            </div>
            <button
              v-if="code"
              @click="checkCode"
              class="btn btn-log btn-block btn-thm"
            >
              Kiểm Tra
            </button>
            <!-- nhập password mới -->
            <div class="form-group" v-if="changePassword">
              <input
                type="number"
                class="form-control"
                name="password"
                placeholder="Mật Khẩu Mới"
                data-vv-as="Password"
                v-model="forgotForm.newPassword"
                v-validate="'required'"
              />
              <p class="text-danger h5">{{ errors.first("password") }}</p>
            </div>
            <button
              v-if="changePassword"
              @click="reset"
              class="btn btn-log btn-block btn-thm"
            >
              Thay Đổi
            </button>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import user from "@/services/user.js";
export default {
  layout: "home",
  data() {
    return {
      forgotForm: {
        email: "",
        userCode: "",
      },
      code: false,
      changePassword: false,
    };
  },
  methods: {
    async forgot() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const data = await user.forgot(this.forgotForm, this.$axios);
          if (data.type === "SUCCESS") {
            this.$notify({
              group: "all",
              type: "success",
              text: data.message,
            });
            this.code = true;
            return;
          }
          this.$swal("Lỗi!", data.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            text: "Có lỗi xảy ra!",
          });
        }
      }
    },
    async checkCode() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const data = await user.checkCode(this.forgotForm, this.$axios);
          if (data.type === "SUCCESS") {
            this.$notify({
              group: "all",
              type: "success",
              text: data.message,
            });
            this.code = false;
            this.changePassword = true;
            return;
          }
          this.$swal("Lỗi!", data.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            text: "Có lỗi xảy ra!",
          });
        }
      }
    },
    async reset() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const data = await user.resetPassword(this.forgotForm, this.$axios);
          if (data.type === "SUCCESS") {
            this.$notify({
              group: "all",
              type: "success",
              text: data.message,
            });
            setTimeout(() => {
              window.location.href = "/login";
            }, 1500);
            return;
          }
          this.$swal("Lỗi!", data.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            text: "Có lỗi xảy ra!",
          });
        }
      }
    },
  },
};
</script>

<style>
</style>