<template>
  <div>
    <!-- Home Design -->
    <section
      class="home-one style3 parallax home_bg3"
      data-stellar-background-ratio="0.3"
    >
      <div class="container">
        <div class="row home-content">
          <div class="col-lg-8">
            <div class="home-text">
              <h2 class="fz40">Tìm Công Việc Phù Hợp Với Bạn</h2>
              <p class="color-white">
                Mỗi tháng, hơn 7 triệu người tìm việc truy cập trang web để tìm
                việc của họ, tạo ra hơn 160.000 đơn đăng ký mỗi ngày.
              </p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="home-job-search-box mt20 mb20">
              <div class="form-inline">
                <div class="search_option_one">
                  <div class="form-group">
                    <label><span class="flaticon-search"></span></label>
                    <input
                      type="text"
                      class="form-control h70"
                      placeholder="Từ Khóa..."
                      v-model="searchText"
                    />
                  </div>
                </div>
                <div class="search_option_button">
                  <button class="btn btnh3 btn-thm btn-secondary h70" @click="search">
                    Tìm Kiếm
                  </button>
                </div>
              </div>
            </div>
            <p class="color-white">
              Trending Keywords: DesignCer, Developer, Web, IOS, PHP, Senior,
              Engineer
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Features Job List Design -->
    <section class="popular-job">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="ulockd-main-title">
              <h3 class="mt0">Việc Làm Nổi Bật</h3>
            </div>
          </div>
        </div>
        <div class="row" v-if="listJob.length">
          <div
            class="col-sm-6 col-lg-12"
            v-for="(job, index) in listJob"
            :key="index"
          >
            <div class="fj_post home3">
              <div class="details">
                <h5 class="job_chedule text-thm">
                  {{ job.typeJob | typeJob }}
                </h5>
                <h4>{{ job.title }}</h4>
                <ul class="featurej_post">
                  <li class="list-inline-item">
                    <span class="flaticon-location-pin"></span>
                    {{ job.expirationDate | dateFormat }}
                  </li>
                  <li class="list-inline-item">
                    <span class="flaticon-price pl20"></span>
                    {{ job.salaryFrom | money }}
                    <span>{{ job.typeSalary | typeSalary }}</span> -
                    {{ job.salaryTo | money }}
                    <span>{{ job.typeSalary | typeSalary }}</span>
                  </li>
                </ul>
              </div>
              <a
                class="btn btn-md btn-transparent2 float-right fn-smd"
                :href="`/${converSlug(job.title)}_${job.id}`"
                >Xem Ngay</a
              >
            </div>
          </div>
          <div class="col-lg-6 offset-lg-3">
            <div class="pjc_all_btn text-center mt15">
              <a class="btn btn-blue" href="/list-job"
                >Hiển Thị Thêm <span class="flaticon-right-arrow pl10"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- How It's Work -->
    <section class="popular-job bgc-fa">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="ulockd-main-title">
              <h3 class="mt0">Làm Thế Nào Để Hoạt Động?</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4 prpl5">
            <div class="icon_box_hiw home3">
              <div class="icon">
                <div class="list_tag float-right"><p>1</p></div>
                <span class="flaticon-unlocked"></span>
              </div>
              <div class="details">
                <h4>Tạo Tài Khoản</h4>
                <p>
                  Post a job to tell us about your project. We'll quickly match
                  you with the right freelancers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 prpl5 mt20-xxsd">
            <div class="icon_box_hiw home3">
              <div class="icon middle">
                <div class="list_tag float-right"><p>2</p></div>
                <span class="flaticon-job"></span>
              </div>
              <div class="details">
                <h4>Tìm Kiếm Việc Làm</h4>
                <p>
                  Browse profiles, reviews, and proposals then interview top
                  candidates.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 prpl5 mt20-xxsd">
            <div class="icon_box_hiw home3">
              <div class="icon">
                <div class="list_tag float-right"><p>3</p></div>
                <span class="flaticon-trophy"></span>
              </div>
              <div class="details">
                <h4>Ứng Tuyển</h4>
                <p>
                  Use the Upwork platform to chat, share files, and collaborate
                  from your desktop or on the go.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="our-carrer bgc-fa pt0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ulockd-main-title text-center">
              <h3 class="fz25 mt0">Các Bài Viết Gần Đây</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-6"
            v-for="(item, index) in listPost"
            :key="item.id + 123"
            :class="index == 0 ? 'col-lg-6' : 'col-md-3 col-lg-3'"
          >
            <a
              :href="`/blog/${converSlug(item.title)}_${item.id}`"
              class="carrer_tips_home5"
            >
              <div class="thumb">
                <img
                  class="img-fluid w100"
                  :src="item.thumbnailPath"
                  alt="h51.jpg"
                />
              </div>
              <div class="details">
                <h5>{{ item.namePostCategory }}</h5>
                <h4>
                  {{ item.title }}
                </h4>
              </div>
            </a>
          </div>
        </div>
        <div class="row mt30">
          <div class="col-lg-12">
            <div class="read_more_home5 text-center">
              <h4>
                Bạn có thích những gì bạn thấy?
                <a class="text-thm" href="/blog"
                  >Xem Thêm Bài Viết<span class="flaticon-right-arrow pl10"></span
                ></a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import job from "@/services/job.js";
import post from "@/services/post.js";
import slug from "@/utils/slug.js";
export default {
  layout: "home",
  data() {
    return {
      listJob: [],
      searchText: "",
      listPost: [],
    };
  },
  mounted() {
    this.getData();
  },
  filters: {
    typeSalary: (type) => (type == 1 ? "VND" : "Yên"),
    money: (money) => money.toLocaleString("it-IT"),
    dateFormat: (date) => {
      let newDate = new Date(date);
      const month = newDate.getMonth() + 1;
      return newDate.getDate() + "/" + month + "/" + newDate.getFullYear();
    },
    typeJob: (type) => (type == 1 ? "Full Time" : "Part Time"),
  },
  methods: {
    async getData() {
      const callJob = await job.list(
        {
          page: 8,
          recordPage: 1,
        },
        this.$axios
      );
      this.listJob = callJob.data.data;
      const callPost = await post.getPostVisitor(
        { page: 3, recordPage: 1 },
        this.$axios
      );
      this.listPost = callPost.data;
    },
    search() {
      if(this.searchText.length){
        window.location.href = `/search/${this.searchText}`
      }
    },
    converSlug(text) {
      return slug.convertText(text);
    },
    
  },
};
</script>

<style>
</style>