<template>
  <section class="our-faq bgc-fa mt50">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-xl-3 dn-smd">
          <div class="faq_search_widget mb30">
            <h4 class="fz20 mb15">Tìm kiếm</h4>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nhập Từ Khóa..."
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                v-model="searchText"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                  @click="search"
                >
                  <span class="flaticon-search"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="cl_latest_activity mb30">
            <h4 class="fz20 mb15">Kiểu Công Việc</h4>
            <div class="ui_kit_whitchbox">
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customSwitch2"
                  value="1"
                  @change="filter"
                />
                <label class="custom-control-label" for="customSwitch2"
                  >Full Time</label
                >
              </div>
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customSwitch3"
                  value="2"
                  @change="filter"
                />
                <label class="custom-control-label" for="customSwitch3"
                  >Part Time</label
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-xl-9">
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              <div class="candidate_job_alart_btn">
                <h4 class="fz20 mb15">List Job</h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-12 mt30 text-center" v-if="!listJob.length"><h4>Không Có Công Việc Nào</h4></div>
            <div
              class="col-sm-6 col-lg-12 mt30"
              v-for="(job, index) in listJob"
              :key="index"
            >
              <div class="fj_post home3">
                <div class="details">
                  <h5 class="job_chedule text-thm">
                    {{ job.typeJob | typeJob }}
                  </h5>
                  <h4>{{ job.title }}</h4>
                  <ul class="featurej_post">
                    <li class="list-inline-item">
                      <span class="flaticon-location-pin"></span>
                      {{ job.expirationDate | dateFormat }}
                    </li>
                    <li class="list-inline-item">
                      <span class="flaticon-price pl20"></span>
                      {{ job.salaryFrom | money }}
                      <span>{{ job.typeSalary | typeSalary }}</span> -
                      {{ job.salaryTo | money }}
                      <span>{{ job.typeSalary | typeSalary }}</span>
                    </li>
                  </ul>
                </div>
                <a
                  class="btn btn-md btn-transparent2 float-right fn-smd"
                  :href="`/${converSlug(job.title)}_${job.id}`"
                  >Xem Ngay</a
                >
              </div>
            </div>
            <Pagination
              v-if="dataPagination"
              :data.sync="dataPagination"
              @pagination="getData"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import job from "@/services/job.js";
import slug from "@/utils/slug.js";
import Pagination from "@/components/Pagination";
export default {
  layout: "home",
  components: {
    Pagination,
  },
  data() {
    return {
      title: "hello",
      listJob: [],
      dataPagination: null,
      idFilter: null,
      searchText: ''
    };
  },
  mounted() {
    this.getData();
  },
  head() {
    return {
      title: this.title,
    };
  },
  filters: {
    typeSalary: (type) => (type == 1 ? "VND" : "Yên"),
    money: (money) => money.toLocaleString("it-IT"),
    dateFormat: (date) => {
      let newDate = new Date(date);
      const month = newDate.getMonth() + 1;
      return newDate.getDate() + "/" + month + "/" + newDate.getFullYear();
    },
    typeJob: (type) => (type == 1 ? "Full Time" : "Part Time"),
  },
  methods: {
    async getData(indexPage = 1) {
      const callJob = await job.list(
        {
          page: 1,
          recordPage: indexPage,
        },
        this.$axios
      );
      this.listJob = callJob.data.data;
      let total = Math.ceil(Number(callJob.data.recordsTotal) / 1);
      let page = Number(callJob.data.first) + 1;
      this.dataPagination = {
        total,
        page,
      };
    },
    search(){
      if(this.searchText.length){
        window.location.href = `/search/${this.searchText}`
      }
    },
    converSlug(text) {
      return slug.convertText(text);
    },
    async filter(event) {
      let value = event.target.value;
      if (event.target.checked) {
        const callJob = await job.list({
          typeJob: value
        }, this.$axios);
        this.listJob = callJob.data.data;
        this.dataPagination = {
          total: 1,
          page: 1,
        };
        if (this.idFilter) {
          document.querySelector(`#${this.idFilter}`).checked = false;
        }
        this.idFilter = event.target.id;
        return;
      }
      this.getData();
      this.idFilter = null;
    },
  },
};
</script>

<style>
</style>