<template>
  <!-- Our LogIn Register -->
  <section class="our-log-reg bgc-fa" style="margin-top: 70px">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6">
          <div class="login_form">
            <div class="heading">
              <h3 class="text-center">Đăng Nhập</h3>
              <p class="text-center">
                Tôi chưa có tài khoản?
                <Nuxt-link class="text-thm" to="signup">Đăng Kí!</Nuxt-link>
              </p>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="username"
                data-vv-as="Tài Khoản"
                placeholder="Tài Khoản"
                v-model="loginForm.username"
                v-validate="'required|min:4'"
                @keyup.enter="login"
              />
              <p class="text-danger h5">{{ errors.first("username") }}</p>
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                data-vv-as="Mật Khẩu"
                class="form-control"
                placeholder="Mật Khẩu"
                v-validate="'required|min:6'"
                v-model="loginForm.password"
                @keyup.enter="login"
              />
              <p class="text-danger h5">{{ errors.first("password") }}</p>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" />
              <label class="form-check-label" for="exampleCheck1"
                >Remember me</label
              >
              <a class="tdu text-thm float-right" href="/forgot-password"
                >Quên Mật Khẩu?</a
              >
            </div>
            <button @click="login" class="btn btn-log btn-block btn-thm">
              Đăng Nhập
            </button>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import user from "../services/user.js";
export default {
  layout: "home",
  data() {
    return {
      loginForm: {
        username: "",
        password: "",
      },
    };
  },
  head() {
    return {
      title: "Đăng Nhập",
    };
  },
  methods: {
    async login() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const data = await user.login(this.loginForm, this.$axios);
          if (data.type === "SUCCESS") {
            this.$auth.$storage.setUniversal(
              "infoUser",
              JSON.stringify(data.data)
            );

            this.$notify({
              group: "all",
              type: "success",
              text: data.message,
            });
            window.location.href = "/";
          }
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            text: "Tài khoản mật khẩu sai",
          });
        }
      }
    },
    // watch: {
    //   "signupForm.email": function (newValue, oldValue) {
    //     console.log(newValue);
    //   },
  },
};
</script>

<style>
</style>