<template>
  <!-- Our LogIn Register -->
  <section class="our-log-reg bgc-fa" style="margin-top: 70px">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6">
          <div class="sign_up_form">
            <div class="heading">
              <h3 class="text-center">Đăng Kí Tài Khoản</h3>
              <p class="text-center">Tôi đã có tài khoản <Nuxt-link class="text-thm" to="/login">Đăng Nhập!</Nuxt-link></p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Họ"
                    name="first name"
                    data-vv-as="Họ"
                    v-model="signupForm.firstName"
                    v-validate="'required|min:2'"
                  />
                  <p class="text-danger h5">{{ errors.first("first name") }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="last name"
                    placeholder="Tên"
                    data-vv-as="Tên"
                    v-model="signupForm.lastName"
                    v-validate="'required|min:2'"
                  />
                  <p class="text-danger h5">{{ errors.first("last name") }}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="register username"
                placeholder="Tài Khoản"
                data-vv-as="Tài Khoản"
                v-model="signupForm.username"
                v-validate="'required|min:5'"
              />
              <p class="text-danger h5">
                {{ errors.first("register username") }}
              </p>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
                v-model="signupForm.email"
                v-validate="'required|email'"
              />
              <p class="text-danger h5">{{ errors.first("email") }}</p>
            </div>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                placeholder="Số Điện Thoại"
                data-vv-as="Số Điện Thoại"
                name="phone"
                v-model="signupForm.phoneNumber"
                v-validate="'required|min:9|max:11'"
              />
              <p class="text-danger h5">{{ errors.first("phone") }}</p>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                v-model="signupForm.password"
                name="register password"
                placeholder="Mật Khẩu"
                data-vv-as="Mật Khẩu"
                v-validate="'required|min:6'"
              />
              <p class="text-danger h5">
                {{ errors.first("register password") }}
              </p>
            </div>
            <button @click="signup" class="btn btn-log btn-block btn-dark">
              Đăng Kí
            </button>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import user from "../services/user.js";
export default {
  layout: "home",
  data() {
    return {
      signupForm: {
        username: "",
        password: "",
        firstName: "",
        lastName: "",
        email: "",
        phoneNumber: "",
        codeRole: "CANDICATE",
      },
    };
  },
  methods: {
    async signup() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const data = await user.signup(this.signupForm, this.$axios);
          if (data.type === "SUCCESS") {
             this.$notify({
              group: "all",
              type: "success",
              title: "Thành Công",
              text: data.message,
            });
            setTimeout(() => {
              window.location.href = "/dashboard/blog";
            }, 2000);
            return
          }
          this.$swal("Change!", data.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "error",
            title: "Lỗi!",
            text: "Có Lỗi xảy ra vui lòng thử lại!",
          });
        }
      }
    },
  },
};
</script>

<style>
</style>