<template>
  <div class="col-lg-6 col-xl-6">
    <div class="password_change_form">
      <h4>Thay Đổi Mật Khẩu</h4>
      <div class="form-group">
        <label>Mật Khẩu Cũ</label>
        <input
          type="password"
          name="old_password"
          data-vv-as="Mật Khẩu Cũ"
          class="form-control"
          placeholder="*******"
          v-model="changeForm.oldPassword"
          v-validate="'required'"
        />
        <p class="text-danger h5">{{ errors.first("old_password") }}</p>
      </div>
      <div class="form-group">
        <label>Mật Khẩu Mới</label>
        <input
          type="password"
          name="new password"
          class="form-control"
          data-vv-as="Mật Khẩu Mới"
          placeholder="*******"
          v-model="changeForm.newPassword"
          v-validate="'required|min:6'"
        />
        <p class="text-danger h5">{{ errors.first("new password") }}</p>
      </div>
      <div class="form-group">
        <label>Nhập Lại Mật Khẩu Mới</label>
        <input
          type="password"
          class="form-control"
          name="confirm password"
          data-vv-as="Lặp Lại Mật Khẩu Mới"
          placeholder="*******"
          v-model="changeForm.rePassword"
          v-validate="'required|min:6'"
        />
        <p class="text-danger h5">{{ errors.first("confirm password") }}</p>
      </div>
      <button class="btn btn-thm" @click="changePassword">Lưu Lại</button>
    </div>
  </div>
</template>

<script>
import user from "../../services/user";
export default {
  layout: "dashboard",
  data() {
    return {
      changeForm: {
        oldPassword: "",
        newPassword: "",
        rePassword: "",
      },
    };
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
  },
  methods: {
    async changePassword() {
      const validator = await this.$validator.validate();
      if (validator) {
        try {
          const data = await user.changePassword(this.changeForm, this.$axios);
          if (data.type === "SUCCESS") {
            this.$swal("Thay Đổi!", "Bạn đã đổi mật khẩu thành công.", "success");
            return;
          }
          this.$swal("Thay Đổi!", data.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "error",
            title: "Error",
            text: "Có Lỗi xảy ra vui lòng thử lại!",
          });
        }
      }
    },
  },
};
</script>

<style>
</style>