<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="my_profile_form_area employer_profile">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="fz20 mb20">Trang Cá Nhân</h4>
        </div>
        <div class="col-lg-12">
          <div class="avatar-upload mb30">
            <div class="avatar-edit">
              <input
                class="btn btn-thm"
                type="file"
                id="imageUpload"
                accept=".png, .jpg, .jpeg"
                @change="changeFile"
              />
              <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
              <img
                :src="infoUser.avatarPath || '/images/team/e1.png'"
                id="imagePreview"
                alt=""
                width="600px"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_thumb_edit"></div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Họ</label>
            <input
              type="text"
              name="first_name"
              class="form-control"
              data-vv-as="Họ"
              placeholder="First Name"
              v-model="infoUser.firstName"
              v-validate="'required|min:2'"
            />
            <p class="text-danger h5">{{ errors.first("first_name") }}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label for="exampleFormControlInput1">Tên</label>
            <input
              type="text"
              class="form-control"
              name="last_name"
              data-vv-as="Tên"
              placeholder="Last Name"
              v-model="infoUser.lastName"
              v-validate="'required|min:2'"
            />
            <p class="text-danger h5">{{ errors.first("last_name") }}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Tài Khoản</label><br />
            <input
              type="text"
              class="form-control"
              v-model="infoUser.username"
              disabled
            />
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Sinh Nhật</label>
            <input
              type="date"
              name="birth_date"
              class="form-control"
              v-model="infoUser.birthYear"
              data-vv-as="Ngày Sinh"
              placeholder="22-05-2010"
              v-validate="'required'"
            />
            <p class="text-danger h5">{{ errors.first("birth_date") }}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Số điện thoại</label>
            <input
              type="number"
              name="phone"
              class="form-control"
              aria-describedby="phoneNumber"
              data-vv-as="Điện Thoại"
              placeholder="+90 587 658 96 32"
              v-model="infoUser.phoneNumber"
              v-validate="'required|min:10|max:11'"
            />
            <p class="text-danger h5">{{ errors.first("phone") }}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="example@gmail.com"
              disabled
              v-model="infoUser.email"
            />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea mt20">
            <div class="form-group">
              <label>Giới Thiệu</label>
              <textarea
                class="form-control"
                rows="6"
                v-model="infoUser.summary"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my_profile_input">
            <button class="btn btn-lg btn-thm" @click="updateProfile">
              Lưu Lại
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import user from "@/services/user.js";
export default {
  layout: "dashboard",
  data() {
    return {
      infoUser: [],
      dataOld: [],
    };
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
    this.dataOld = infoUser;
    this.getInfo();
  },
  methods: {
    async getInfo() {
      this.infoUser = await user.getInfo({}, this.$axios);
    },
    changeFile(e) {
      this.infoUser.avatar = e.target.files[0];
    },
    async updateProfile() {
      const data = new FormData();
      for (const key in this.infoUser) {
        if (key === "birthYear") {
          let date = new Date(this.infoUser.birthYear);
          const month = date.getMonth() + 1;
          this.infoUser.birthYear =
            date.getDate() + "/" + month + "/" + date.getFullYear();
        }
        data.append(key, this.infoUser[key]);
      }
      try {
        const response = await user.update(data, this.$axios);
        if (response.type === "SUCCESS") {
          this.infoUser = response.data;
          const updateState = {
            account: this.dataOld.username,
            avatarPath: response.data.avatarPath,
            codeRole: this.dataOld.codeRole,
            email: this.dataOld.email,
            firstName: response.data.firstName,
            id: 14,
            lastName: response.data.lastName,
            phoneNumber: response.data.phoneNumber,
            token: this.dataOld.token,
          };
          this.$auth.$storage.setUniversal(
            "infoUser",
            JSON.stringify(updateState)
          );
          return this.$notify({
            group: "all",
            type: "success",
            title: "Thành Công",
            text: response.message,
          });
        }
        this.$swal("Thay đổi!", response.message, "error");
      } catch (e) {
        this.$notify({
          group: "all",
          type: "error",
          title: "Lỗi",
          text: "Có Lỗi xảy ra vui lòng thử lại!",
        });
      }
    },
  },
};
</script>

<style>
</style>