<template>
  <div class="col-lg-8 col-xl-9">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mb30">Quản Lý CV</h4>
      </div>
      <div class="col-lg-12 col-xl-8">
        <div class="candidate_resume_uploader">
          <p class="form_title">Curriculum Vitae</p>
          <form class="form-inline">
            <input
              class="upload-path"
              placeholder="Design CV"
              v-model="nameFile"
              disabled
            />
            <label class="upload">
              <input
                type="file"
                name="file"
                @change="changeFile"
                v-validate="'ext:docx,pdf,doc'"
              />
              <p><span class="flaticon-download"></span> Tải Lên CV</p>
            </label>
          </form>
          <small class="form-text text-danger" v-if="errors.first('file')"
            >Định dạng file .doc,.docx,.pdf.</small
          >
          <small class="form-text text-muted" v-else
            >Định dạng file .doc,.docx,.pdf.</small
          >
        </div>
      </div>
      <div class="col-lg-12 mt30">
        <h4 class="mb30">Xem CV</h4>
      </div>
      <div class="col-lg-12 col-xl-12" v-if="file">
        <iframe
          :src="urlCv"
          frameborder="0"
          height="500px"
        ></iframe>
      </div>
      <div class="col-lg-12 col-xl-12" v-else>
          <h5>Bạn chưa upload CV nào</h5>
      </div>
    </div>
  </div>
</template>

<script>
import user from "@/services/user";
export default {
  layout: "dashboard",
  data() {
    return {
      nameFile: "",
      file: "",
      urlCv: "",
      server: process.env.API_BASE_URL
    };
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
    this.getData();
  },
  methods: {
    async getData() {
      const infoUser = await user.getInfo({}, this.$axios);
      this.file = infoUser.cvPath;
      this.urlCv = `https://docs.google.com/gview?url=${this.server+this.file}&embedded=true`
    },
    async changeFile(event) {
      const validator = await this.$validator.validate();
      if (validator) {
        let infoFile = event.target.files[0];
        this.nameFile = infoFile.name;
        const data = new FormData();
        data.append("file", infoFile);
        try {
          const response = await user.postCv(data, this.$axios);
          if (response.type === "SUCCESS") {
            this.infoUser = response.data;
            return this.$notify({
              group: "all",
              type: "success",
              title: "Success",
              text: response.message,
            });
          }
          this.$swal("Change!", response.message, "error");
        } catch (e) {
          this.$notify({
            group: "all",
            type: "error",
            title: "Error",
            text: "Có Lỗi xảy ra vui lòng thử lại!",
          });
        }
      }
    },
  },
};
</script>

<style>
</style>