<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="my_profile_form_area employer_profile">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="fz20 mb20">Sửa thông tin website</h4>
        </div>
        <div class="col-lg-12">
          <div class="avatar-upload mb30">
            <div class="avatar-edit">
              <input
                class="btn btn-thm"
                type="file"
                id="imageUpload"
                @change="changeLogo"
                accept=".png, .jpg, .jpeg"
              />
              <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
              <img id="imagePreview" :src="logo || companyForm.logoPath" />
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_thumb_edit"></div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Tên Công Ty</label>
            <input
              type="text"
              class="form-control"
              v-model="companyForm.name"
              placeholder="CreativeLayers"
            />
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Địa Chỉ Email</label>
            <input
              type="email"
              class="form-control"
              v-model="companyForm.email"
              placeholder="creativelayers088@gmail.com"
            />
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Số Điện Thoại</label>
            <input
              type="number"
              class="form-control"
              v-model="companyForm.phone"
              aria-describedby="phoneNumber"
              placeholder="+90 587 658 96 32"
            />
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="my_profile_input form-group">
            <label>Fax</label>
            <input
              type="number"
              class="form-control"
              v-model="companyForm.fax"
              aria-describedby="phoneNumber"
              placeholder="+90 587 658 96 32"
            />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Cấp Độ</label>
            <input
              type="number"
              class="form-control"
              v-model="companyForm.level"
              placeholder="1"
            />
          </div>
        </div>

        <div class="col-lg-12">
          <div class="my_resume_textarea mt20">
            <div class="form-group">
              <label>Giới Thiệu Về Công Ty</label>
              <textarea
                class="form-control"
                v-model="companyForm.description"
                rows="9"
              >
              </textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea mt20">
            <div class="form-group">
              <label>Địa Chỉ</label>
              <textarea
                class="form-control"
                v-model="companyForm.address"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my_profile_input">
            <button class="btn btn-lg btn-thm" @click="edit">
              Lưu
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import admin from "@/services/admin";
export default {
  layout: "dashboard",
  data() {
    return {
      companyForm: {},
      logo: "",
    };
  },
  middleware: "roleAdmin",
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const response = await admin.getCompany(8, this.$axios);
        this.companyForm = response.data;
      } catch (e) {}
    },
    async edit() {
      const data = new FormData();
      for (const key in this.companyForm) {
        data.append(key, this.companyForm[key]);
      }
      try {
        const response = await admin.editCompany(data, this.$axios);
        if (response.code === "SUCCESS") {
          this.$swal("Thành Công!", "Thay Đổi Thông Tin Thành Công", "success");
          return window.location.reload();
        }
      } catch (e) {}
      this.$notify({
        group: "all",
        type: "warn",
        title: "Lỗi!",
        text: "Sửa Thông Tin Bị Lỗi",
      });
    },
    changeLogo(e) {
      this.logo = URL.createObjectURL(e.target.files[0]);
      this.companyForm.logo = e.target.files[0];
    },
  },
};
</script>

<style>
</style>