<template>
  <div class="col-sm-12 col-lg-8 col-xl-9">
    <div class="my_profile_form_area">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="fz20 mb20">Viết Bài</h4>
        </div>
        <div class="col-lg-12">
          <div class="my_profile_input form-group">
            <label>Tiêu Đề</label>
            <input
              type="text"
              class="form-control"
              name="title"
              placeholder="UX/UI Desginer"
              v-model="blogForm.title"
              v-validate="'required|min:3|max:100'"
            />
            <p class="text-danger h5">{{ errors.first("title") }}</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea">
            <div class="form-group">
              <label>Nội Dung</label>
              <tinymce id="content" v-model="blogForm.content"></tinymce>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="my_profile_select_box form-group">
            <label>Danh Mục</label><br />
            <select
              class="custom-select"
              name="category"
              v-model="blogForm.idPostCategory"
              v-validate="'required'"
            >
              <option
                :value="category.id"
                v-for="category in listCategory"
                :key="category.id"
              >
                {{ category.name }}
              </option>
            </select>
            <p class="text-danger h5">{{ errors.first("category") }}</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="my_resume_textarea">
            <div class="form-group">
              <label>Nội Dung Ngắn</label>
              <textarea
                class="form-control"
                name="short content"
                rows="3"
                v-model="blogForm.shortContent"
                v-validate="'required'"
              ></textarea>
              <p class="text-danger h5">{{ errors.first("short content") }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my_resume_textarea">
            <div class="form-group">
              <label>Ảnh Hiển Thị</label>
              <input type="file" class="form-control" @change="changeThumb" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my_resume_textarea">
            <div class="form-group">
              <label>Ảnh</label>
              <img :src="thumbnail" alt="" class="img-fluid img-thumbnail" />
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my_profile_input">
            <button class="btn btn-lg btn-thm" @click="postBlog">
              Thêm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import post from "@/services/post.js";
export default {
  layout: "dashboard",
  data() {
    return {
      blogForm: {
        title: "",
        content: "",
        shortContent: "",
        idPostCategory: "",
        thumbnail: "",
      },
      listCategory: [],
      thumbnail: "",
    };
  },
  mounted() {
    const infoUser = this.$auth.$storage.getLocalStorage("infoUser");
    this.$axios.setToken(infoUser.token, "Bearer");
    this.getData();
  },
  methods: {
    async getData() {
      const categories = await post.getCategory(this.$axios);
      this.listCategory = categories.data;
    },
    async postBlog() {
      const validator = await this.$validator.validate();
      if (validator) {
        const data = new FormData();
        for (const key in this.blogForm) {
          data.append(key, this.blogForm[key]);
        }
        try {
          const response = await post.createPost(data, this.$axios);
          if (response.code === "SUCCESS") {
            this.$notify({
              group: "all",
              type: "success",
              title: "Thành Công",
              text: response.message,
            });
            setTimeout(() => {
              window.location.href = "/dashboard/blog";
            }, 1500);
            return;
          }
        } catch (e) {
          this.$notify({
            group: "all",
            type: "warn",
            title: "Lỗi!",
            text: "Tạo Bài Viết Lỗi!",
          });
        }
      }
    },
    async changeThumb(e) {
      this.thumbnail = URL.createObjectURL(e.target.files[0]);
      this.blogForm.thumbnail = e.target.files[0];
    },
  },
};
</script>

<style>
</style>